#user_info{
	text-align: center;
	background-color: #3cb37a;
	color: #FFF;
	padding: 10px 0;
}

#info_body{
	width: 65%;
	margin: 0 auto;
	padding: 20px 0;
}

.body_left{
	text-align: right;
}

#img_upload {
	display: none;
}

#img_btn{
	margin-left: 172px;
}