form{
        margin: 0 auto;
        margin-top: 30px;
        width: 75%;
        padding: 55px;
        border: solid 1px #a9a9a9;
        border-radius: 20px;
        box-shadow: 0 0 3px gray;
}

h2{
        padding-bottom: 40px;
}

#login{
        margin-right: 10px;
        margin-top: 5px;
}

#sign_in{
	display: inline-block;
	padding: 10px 10px 0 0;
}


