header{
	padding-bottom: 10px;
	margin-bottom: 60px;
}
#container{
	margin: 0 10px;
}

#sub_title{
	display: inline-block;
	color: #163B5B;
	font-weight: bold;
	margin: 0 0 15px 5px;
	padding-left: 60px;
    line-height: 50px;
    background-image: url("../img/favorite_icon.png");
    background-repeat: no-repeat;
    background-size:40px 40px;
}

.follow_item{
	border-top:  solid 1px #000;
	padding: 10px 0;
}

.follow_wrap{
	width: 20%;
	margin: 0 auto;
}

.follow_item input{
	margin-left: 10px;
}

